div#center {
    float: none;
    width: 60%;
    padding-left: 20%;
    padding-bottom: 8em;
}

div#content {
    min-height: 200px;
    font-size: 1.6em;
    background: #ffffff url('../../img/logo/marmotta-sad.png') no-repeat right top;
    padding-right: 220px;
}
